body{
    font-family: sans-serif;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.construccion{
    background-image: url("../fondos/stormtrooper-1351022_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.negro{
    color: black;
}
.blanco{
    color: white;
}
.pad{
    padding: 5%;
}
.pad-y{
    padding-top: 5%;
    padding-bottom: 5%;
}
.pad-x{
    padding-left: 5%;
    padding-right: 5%;
}
.mar{
    margin: 5%;
}
.boton{
    border: none;
    border-radius: 5px;
    background: none;
    padding: 3% 5%;
}