.home{
    position: sticky;
    top: 0;
    left: 0;
    background-image: url("../img/codigo-fuente-programacion.jpg");
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    transition: 0.5s;

}
.titulo{
    position: absolute;
    top: 0%;
    left: 3%;
    font-size: 15vw;
    color: white;
    max-width: 50%;
    transition: 0.5s;
    z-index: 1;
}
.copy{
    position: absolute;
    top: 55px;
    left: 30.5%;
    min-height: 100vh;
    min-width: 120vw;
    background-color: yellow;
    text-align: center;
    transition: 0.5s;
}
.slogan{
    position: relative;
    top: 20vh;
    left: 50%;
    margin: 8%;
    max-width: 30%;
}
.copy span{
    margin: 5%;
    display: block;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.move{
    top: 0;
    left: -20%;
    transition: 0.5s;
}
.move-titulo{
    text-align: right;
    top: 15%;
    left: -10%;
    transition: 0.5s;
    font-size: 8vw;
}
.relativo{
    position: relative;
    transition: 0.5s;
    transition-delay: 5s;
}
.seccion-titulo{
    font-size: 10vw;
    min-width: 100%;
}
.services{
    position: relative;
    background-image: url("../img/ipad-820272_1920.jpg");
    background-size: cover;
    min-height: 680px;
    overflow: hidden;
    margin-top: 50%;
}
.services-intro{
    max-width: 35%;
    background-color: white;
    height: 100%;
}
.especialidad{
    position: relative;
    padding-top: 15%;
    z-index: 2;
    margin: 0 10%;
}
.more{
   margin: 30%; 
   background-color: rgba(131,58,180,1);
   cursor: pointer;
}
.services-frame{
    position: absolute;
    margin-top: 7%;
    top: 0;
    left: 27.5%;
    background-color: rgba(131,58,180,1);
    color: white; 
    width: 45%;
    display: flex;
    justify-content: center;
    padding: 0;
}
.services-list{
   padding: 60% 5% 10% 5%;
}
.services-list h3{
    font-size: xx-large;
}
.projects{
    position: relative;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 3%;
    background-image: url("../img/science-1182713_1920 (2) crop.jpg");
    background-size: contain;
}
.projects h2{
    position: relative;
    z-index: 2;
}
#pj-bg{
    background-color: rgba(253,29,29,1);
    position: absolute;
    left: 0%;
    width: 39.3%;
    height: 100%;
}
.columnas{
    position: relative;
    column-count: 2;
}
.tarjeta{
    position: relative;
    margin: 15% 15% 0 15%;
    max-width: 100%;
}
.tarjeta h3, .tarjeta p{
    position: absolute;
    top: 50%;
    right: -10%;
    font-size: xx-large;
}
.tarjeta p{
    font-size: small;
    text-shadow: 3px 3px 3px black;
}
.tarjeta a{
    position: absolute;
    font-size: small;
    color: white;
    text-decoration: none;
    top: -7%;
    left: 0;
    color: rgba(252,176,69,1);
}
.tarjeta img{
   width: 120%; 
}
#tienda h3, #tienda p, #fwd h3, #fwd p{
    top: 30%;
    right: -30%;
}
#firstage h3, #firstage p, #luar h3, #luar p{
    top: 30%;
    right: 10%;
}
#alice h3, #alice p{
    top: 30%;
    right: 6%;
}
#west h3, #west p{
    top: 30%;
    right: -27%;
}
#firstage img, #alice img, #luar img{
    max-width: 80%;
}
#west{
   left: -20%;
}
#fwd{
    background-color: black;
}
#fwd img{
    opacity: 50%;
}

.evenMore{
    display: block;
    margin: auto;
    color: rgba(252,176,69,1);
    position: relative;
    z-index: 2;
    font-size: x-large;
    text-shadow: 3px 3px 3px black;
    padding: 6%; 
    cursor: pointer; 
}
.contact{
    background: rgb(2, 0, 19);
    text-align: center;
    color: rgba(131,58,180,1);
    position: relative;
    left: 35%;
    padding: 4% 0;
    max-width: 65%;
}
.contact h2{
    /* padding: 6% 0; */
    font-size: 7.5vw;
    font-weight: lighter;
    position: relative;
    left: -37%;
    margin: 3% 0 7% 0;
}
.gogogo{
    border: solid;
    background: none;
    padding: 1% 4%;
    font-size: x-large;
    display: block;
    border-radius: 50px;
    margin-left: 5%;
    cursor: pointer;
}
.foot{
    background: rgb(2, 0, 19);
    color: white; 
    padding: 1% 0 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foot a{
    text-decoration: none;
    color: white;
    min-width: 25%;
    text-align: center;
    padding-top: 25px;
}
.foot-img{
    max-width: 35px;
    margin: 0% 5%;
    vertical-align: middle;
}
.foot p{
    text-align: center;
    font-size: small;
    margin: 5% 0 0 0;
    min-width: 100%;
}

@media(max-width: 1023px){
    .titulo{
        top: 30%;
    }
    .copy{
        align-items: end;
    }
    .move-titulo{
        font-size: 11vw;
        left: 5%;
    }
    .slogan{
        left: 53%;
        top: 60vh;
    }
    .services{
        background-position: center;
        min-height: 850px;
    }
    .services-list{
        padding: 40% 5% 10% 5%;
     }
    .services-frame{
        width: 60%;
    }
    .services-intro{
        height:850px;
    }
}
@media(max-width: 700px){
    .titulo{
        font-size: 20vw;
    }
    .copy{
        left: 39%;
        min-width: 145vw;
    }
    .move{
        left: -35%;
    }
    .move-titulo{
        font-size: 11vw;
    }
    .slogan{
        max-width: 40%;
        left: 35%;
        top: 60vh;
    }
    .especialidad{
        padding-top: 50%;
    }
    .services{
        
    }
    .services-frame{
        margin-top: 20%;
        min-height: 50%;
        flex-wrap: wrap;
        padding-top: 30%;
    }
    .services-list{
        padding: 0% 5% 0% 5%;
    }
    .services-list h3{
        font-size: x-large;
    }
    .more{
        margin: 10%;
        padding: 8%;
        position: absolute;
        bottom: 2%;
        left: 37%;
        transform: translateX(-50%);
        z-index: 3;
        border: 5px solid fuchsia;
        color: white;
        padding: 3%;
    }
}
@media(max-width: 500px){
    .move-titulo{
        font-size: 15vw;
    }
    .slogan{
        max-width: 50%;
        top: 55vh;
        left: 33%;
        /* max-width: 67%; */
        font-size: larger;
    }
    .especialidad{
        padding-top: 67%;
    }
    .services-frame{
        padding-top: 35%;
        width: 85%;
        left: 20%;
        margin-top: 25%;
        min-height: 50%;
    }
    .services{
        background-position: 60%;
    }
    .services-intro{
        height:150vh;
    }
    .especialidad{
        font-size: 13vw;
    }
    .columnas{
        column-count: 1;
    }
    .tarjeta{
        left: 0;
        right: 0;
        margin: 5%;
    }
    .tarjeta img{
        max-width: 100%;
    }
    .tarjeta a{
        position: relative;
        display: block;    
    }
    #west{
        left: 0;
    }
    #tienda h3, #tienda p, #west h3, #west p, #fwd h3, #fwd p{
        right: 0;
    }
    .projects{
        background-position: center;
    }
    .contact h2{
        font-weight: normal;
    }
}
