* {
    color: white;
    margin: 0;
    scroll-behavior: smooth;
/* Estilos generales */
}
.botones {
    border: white 2px solid;
    text-decoration: none;
    padding: 3% 7%;
    border-radius: 5px;
    font-weight: 500;
    margin: 5%;
    transition: 0.5s;
}
.botones:hover{
    color: white;
    background-color: #d4f000cb;
    transition: 0.5s;
}
.txt-blanco {
    color: white;
}
.txt-green {
    color: #D3F000;
}
.txt-negro {
    color: black;
}
.b-white{
    border: white 3px solid;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gruppo {
    font-family: "Gruppo", sans-serif;
}
.width-50 {
    width: 80%;
}
.block {
    display: block;
}
.p {
    padding: 5% 8%;
}
form {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.299);
    border-radius: 15px;
    padding: 5%;
}
label {
    width: 100%;
    padding: 2% 0;
}
input, textarea {
    border-radius: 20px;
    border: none;
    padding: 2% 5%;
    width: 80%;
    margin: 3% 0 !important;
}
.margin-5{
    margin: 5%;
}
#copyright {
    text-align: center;
    padding: 7%;
    font-size: small;
    margin: 0;
}

@media (min-width: 1024px) {
    body{
        background: linear-gradient(135deg, rgba(140, 0, 240, 1) 0%, rgba(218, 0, 240, 1) 60%, rgba(240, 0, 135, 1) 100%);
    }
    .botones{
        padding: 1% 4%;
        margin: 2%;
    }
    form{
        padding: 3%;
    }
    #copyright{
        font-size: medium;
        padding: 5%;
    }
}
@media (min-width: 1910px) {
    #copyright{
        font-size: x-large;
        padding: 5%;
    }
}