* {
    color: white;
    margin: 0;
    scroll-behavior: smooth;
/* Estilos generales */
}
.botones {
    border: white 2px solid;
    text-decoration: none;
    padding: 3% 7%;
    border-radius: 5px;
    font-weight: 500;
    margin: 5%;
    transition: 0.5s;
}
.botones:hover{
    color: white;
    background-color: #d4f000cb;
    transition: 0.5s;
}
.txt-blanco {
    color: white;
}
.txt-green {
    color: #D3F000;
}
.txt-negro {
    color: black;
}
.b-white{
    border: white 3px solid;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gruppo {
    font-family: "Gruppo", sans-serif;
}
.width-50 {
    width: 80%;
}
.block {
    display: block;
}
.p {
    padding: 5% 8%;
}
form {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.299);
    border-radius: 15px;
    padding: 5%;
}
label {
    width: 100%;
    padding: 2% 0;
}
input, textarea {
    border-radius: 20px;
    border: none;
    padding: 2% 5%;
    width: 80%;
    margin: 3% 0 !important;
}
.margin-5{
    margin: 5%;
}

@media (min-width: 1024px) {
    body{
        background: linear-gradient(135deg, rgba(140, 0, 240, 1) 0%, rgba(218, 0, 240, 1) 60%, rgba(240, 0, 135, 1) 100%);
    }
    .botones{
        padding: 1% 4%;
        margin: 2%;
    }
    #home a:first-of-type{
        margin-left: 1vw;
    }
    #home{
        overflow: hidden;
    }
    #nombre{
        padding: 5vw;
        font-size: 4vw;
        position: relative;
        left: -30%;
    }
    #projects h2, #skills h3, #contact h3{
        font-size: 4vw;
    }
    .titulo{
        padding: 4vh 5vw 4vh 5vw;
        padding-top: 2vw;
        font-size: 12vw;
        position: relative;
        left: 19%;
    }
    #separador{
        display: none;
    }
    #work-resume{
        padding: 0 5vw 7vh 5vw;
        font-size:  x-large;
    }
    #scroll-icon{
        bottom: 1%;
        left: 10%;
    }
    #projects{
       padding: 0;
    }
    .proyecto-container{
        margin: 0;
    }
     .proyecto, .proyecto-descripcion{
        width: 35vw;
        height: 35vw;
        margin: 3%;
     }
     .proyecto-descripcion{
        margin: 0;
     }
     .proyecto p {
        font-size: medium;
        margin-top: 20px;
    }
    .competencias, .educacion{
        margin: 1%;
        font-size: x-large;
        width: 20vw;
        height: 20vw;
    }
    .competencias h4{
        font-size: xx-large;
    }
    .certificaciones{
        padding: 3% 0;
    }
    .educacion{
        margin: 0;
        font-size: large;
    }
    .educacion img {
        width: 120px;
    }
    .datos-contacto, .form-contacto{
        width: 45%;
    }
    .datos-contacto a{
        margin: 10%;
        font-size: x-large;
    }
    form{
        padding: 3%;
    }
    .logos img{
        width: 150px;
    }
    #copyright{
        font-size: medium;
        padding: 5%;
    }
}
@media (min-width: 1910px) {
    .proyecto-container{
        padding-bottom: 3%;
    }
    .proyecto, .proyecto-descripcion{
        width: 25vw;
        height: 25vw;
        margin: 2%;
     }
     .proyecto-descripcion{
        margin: 0;
     }
     .competencias{
        width: 15vw;
        height: 15vw;
    }
    .educacion{
        font-size: x-large;
    }
    .educacion img {
        width: 200px;
    }
    .certificaciones{
        padding: 3% 0 5% 0;
    }
    .logos img{
        width: 200px;
    }
    #copyright{
        font-size: x-large;
        padding: 5%;
    }
}