* {
    color: white;
    margin: 0;
    scroll-behavior: smooth;
/* Estilos generales */
}
body{
    background: linear-gradient(135deg, rgba(140, 0, 240, 1) 0%, rgba(218, 0, 240, 1) 60%, rgba(240, 0, 135, 1) 100%);
    width: 100vw;
    padding: 10%;
}
#home-proyecto{
    min-height: 100vh;
    margin: auto;
    align-items: center;
    padding-top: 15vh;
    overflow: hidden;
}
#titulo-proyecto{
    font-size: 12vw;
}
.tipo-proyecto{
    font-size: x-large;
}
.proyecto img{
    width: 100%;
    padding: 5%;
}
.enlace-site{
    width: 100%;
    color: white;
    text-decoration: none;
    position: relative;
    left: 45%;
}
.enlace-site img{
    width: 60px;
/*     margin-left: 5%;
 */}
.sub-titulo{
    padding-top: 10%;
    font-size: 8vw;
    width: 100%;
}
.tecnologia-contenedor{
    width: 100%;
}
.tecnologia{
    display: block;
    margin: 3%;
}
.proyecto-img{
    text-align: center;
}
.proyecto-img p{
    line-height: 1.1;
    font-size: small;
    margin: 0 5% 5% 3%;
    padding: 3%;
    border: solid 2px white;
    border-radius: 5px;
}
@media (min-width: 1024px) {
    #titulo-proyecto{
        font-size: 7vw;
    }
    .tipo-proyecto{
        font-size: xx-large;
    }
    .enlace-site{
        font-size:large ;
        left: 75%;
    }
    .enlace-site img{
        padding: 2%;
        width: 80px;
    }
    .sub-titulo{
        font-size: 5vw;
    }
    p{
        font-size: large !important;
    }
    .img-movil{
        width: 50% !important;
    }
}
@media (min-width: 1910px) {
    body{
        padding: 5%;
    }
    #home-proyecto{
        padding-bottom: 5%;
    }
    #titulo-proyecto{
        font-size: 5vw;
        width: 100%;
        text-align: center;
    }
    .proyecto-img{
        width: 50%;
        margin: auto;
    }
    .enlace-site{
        font-size:large ;
        left: 82%;
    }
    .enlace-site img{
        width: 100px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .sub-titulo{
        font-size: 3vw;
        padding-top: 8%;
    }
    .tecnologia{
        margin: 1%;
    }
    .overview-proyecto{
        width: 50%;
        text-align: center;
    }
    .tecnologia-contenedor{
        width: 50%;
        text-align: center;
    }
}